body {
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    height: 100%;
}

h1 {
    font-family: 'Cabin Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
hr.solid {
    border: none;
    height: 1px;
    width: 65%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

/* Style navigation */

.navbar-brand {
    font-family: 'Cabin Condensed', sans-serif;
}
.navbar-light .nav-item .nav-link {
    color: rgb(90, 90, 90);
}
.navbar-light .nav-item:hover .nav-link {
    color: black;
}

/* Cartes events */

.card-deck {
    margin: 20px 10% 20px 10%;
}

.card {
    background-color: rgb(201, 198, 198);
    margin: auto;
    width: 15rem;
    height: 24rem;
    overflow: auto;
}

.card-title {
    text-transform: uppercase;
    font-size: 22px;
}

.card-text {
    text-align: justify;
    font-size: 19px;
}

.card-img-top {
    height: 14rem;
    margin-bottom: -10px;
}

@media screen and (max-width: 1024px) {
    .card-img-top {height: 12rem;}
}

/* Footer copyright */

.copyright {
    background-color: #7c7c7c;
    text-align: center;
    color: white;
}